{% extends "qe/base.html" %}

{% block content %}
<h1>{{ document.name }} ({{ document.task.name }})</h1>
<ol class="breadcrumb">
  <li><a href="{% url "qe:index" %}">Home</a></li>
  <li><a href="{% url "qe:task" document.task.id %}">{{ document.task.name }}</a></li>
  <li class="active">{{ document.name }}</li>
</ol>

<ul class="nav nav-tabs">
  <li class="active"><a href="#">document statistics</a></li>
  <li><a href="{% url "qe:document_sentences" document.task.id document.id %}?page=1">sentence statistics</a></li>
</ul>

<div class="row">
	<div class="col-lg-6 col-sm-12" id="average_score" style="height: 35em; overflow: hidden">
		<h3>Average score</h3>
		<div style="position: relative; top: -5em">
		{{ average_score_chart }} <div align="center" style="position: relative; top: -18em;"><h1>{{ average_score }}</h1></div>
		</div>
	</div>
	<div class="col-lg-1 col-sm-2" id="spaceholder"></div>
	<div class="col-lg-4 col-sm-12" id="quartile">
		<h3>Score quartiles</h3>
		{{ quartile_chart }} 
	</div>
	
	<div class="col-lg-12 col-sm-24" id="mass">
		<h3>Mass distribution of sentence quality scores</h3>
		{{ chart }}
	</div>
</div>
{% endblock %}